<a href="https://colab.research.google.com/github/gitmystuff/DTSC3010/blob/main/Week_02/DTSC3010_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DTSC3010 Assignment 2

Your Name

## Getting Started

* Colab - get notebook from the gitmystuff DTSC3010 repository
* Save a Copy in Drive
* Remove Copy of
* Edit your name
* Clean up Colab Notebooks folder
* Submit shared link

## Install DataScience

Please remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this course. For now, don't worry about what it means.

In [ ]:
pip install datascience -q

# Expressions

Programming languages are much simpler than human languages. Nonetheless, there are some rules of grammar to learn in any language, and that is where we will begin. In this class, we will use the [Python](https://www.python.org/) programming language. Learning the grammar rules is essential, and the same rules used in the most basic programs are also central to more sophisticated programs.

Programs are made up of *expressions*, which describe to the computer how to combine pieces of data. For example, a multiplication expression consists of a `*` symbol between two numerical expressions. Expressions, such as `3 * 4`, are *evaluated* by the computer. The value (the result of *evaluation*) of the last expression in each cell, `12` in this case, is displayed below the cell.

In [ ]:
3 * 4

The grammar rules of a programming language are rigid. In Python, the * symbol cannot appear twice in a row separated by a space. This will result in a SyntaxError error. The Syntax of a language is its set of grammar rules, and a SyntaxError indicates that an expression structure doesn't match any of the rules of the language.

In [ ]:
# 3 to the power of 4: 3 * 3 * 3 * 3
3 * * 4

Small changes to an expression can change its meaning entirely. Below, the space between the *'s has been removed. Because ** appears between two numerical expressions, the expression is a well-formed exponentiation expression (the first number raised to the power of the second: 3 times 3 times 3 times 3). The symbols * and ** are called operators, and the values they combine are called operands.

In [ ]:
# 3 to the power of 4: 3 * 3 * 3 * 3
3 ** 4

**Common Operators.** Data science often involves combining numerical values, and the set of operators in a programming language are designed so that expressions can be used to express any sort of arithmetic. In Python, the following operators are essential.

| Expression Type | Operator | Example    | Value     |
|-----------------|----------|------------|-----------|
| Addition        | `+`      | `2 + 3`    | `5`       |
| Subtraction     | `-`      | `2 - 3`    | `-1`      |
| Multiplication  | `*`      | `2 * 3`    | `6`       |
| Division        | `/`      | `7 / 3`    | `2.66667` |
| Remainder       | `%`      | `7 % 3`    | `1`       |
| Exponentiation  | `**`     | `2 ** 0.5` | `1.41421` |

Python expressions obey the same familiar rules of *precedence* as in algebra: multiplication and division occur before addition and subtraction. Parentheses can be used to group together smaller expressions within a larger expression.

In [ ]:
1 + 2 * 3 * 4 * 5 / 6 ** 3 + 7 + 8 - 9 + 10   # rules of precedence as in math

In [ ]:
1 + (2 * 3 * 4 * 5) / (6 ** 3) + 7 + 8 - 9 + 10

In [ ]:
1 + 2 * (3 * 4 * 5 / 6) ** 3 + 7 + 8 - 9 + 10   #Parentheses can be used to group together smaller expressions within a larger expression.

In [ ]:
"you can also work with strings"   # double quote

In [ ]:
'you can also work with strings'   # single quote

In [ ]:
# error

'Cliff's book'

In [ ]:
# proper quoates
"Cliff's book"

"This chapter introduces many types of expressions. Learning to program involves trying out everything you learn in combination, investigating the behavior of the computer. What happens if you divide by zero? What happens if you divide twice in a row? You don't always need to ask an expert (or the Internet); many of these details can be discovered by trying them out yourself."

# Practice

In [ ]:
# try divide 10 by 0

In [ ]:
# try 100 divide by 10 for 3 times in a row

In [ ]:
# try any strings with a single quote in a triple quotes """stings"""

In [ ]:
# Given that two sides of a right triangle are 3 and 4, find the length of the other side.

Pythagorean theorem：
$$a^2 + b^2 = c^2$$

# Names

Names are given to values in Python using an *assignment* statement. In an assignment, a name is followed by `=`, which is followed by any expression. The value of the expression to the right of `=` is *assigned* to the name. Once a name has a value assigned to it, the value will be substituted for that name in future expressions.

In [ ]:
a = 10 # a is associated with 10

In [ ]:
b = 20
a + b

A previously assigned name can be used in the expression to the right of `=`.

In [ ]:
quarter = 1/4
half = 2 * quarter
half

However, only the current value of an expression is assigned to a name. If that value changes later, names that were defined in terms of that value will not change automatically.

In [ ]:
quarter = 4
half

If you use the name again, python will use the value you most recently assigned to that name

In [ ]:
half = 2 * quarter
half

Names must start with a letter, but can contain both letters and numbers. A name cannot contain a space; instead, it is common to use an underscore character `_` to replace each space. Names are only as useful as you make them; it's up to the programmer to choose names that are easy to interpret. Typically, more meaningful names can be invented than `a` and `b`.

In [ ]:
# try creating a name that starts with a number

# Why names?

For example, to describe the sales tax on a $100 purchase in Dallas, TX, the following names clarify the meaning of the various quantities involved.

State sales tax: The state sales and use tax is 6.25%.


county sales tax: Local jurisdictions can add up to an additional 2%, bringing the total combined sales tax to a maximum of 8.25% in most major cities.


city sales tax is 0.

In [ ]:
purchase_price = 100
state_tax_rate = 0.0625
county_tax_rate = 0.02
city_tax_rate = 0
sales_tax_rate = state_tax_rate + county_tax_rate + city_tax_rate
sales_tax = purchase_price * sales_tax_rate
sales_tax

In [ ]:
purchase_price = 1000
sales_tax = purchase_price * sales_tax_rate
sales_tax
sales_tax

# Practice

How to calculate the yearly minimum wage for someone earning the Texas minimum hourly wage of $7.25.

Use meaningful names.

In [ ]:
40 * 52 * 7.25

In [ ]:
# @title
# what's the work hours for a year?
hours_per_week = 40
weeks_per_year = 52

In [ ]:
# @title
hours_per_year = hours_per_week * weeks_per_year
hours_per_year

In [ ]:
# @title
tx_hourly_minimum_wage = 7.25

In [ ]:
# @title
weekly_wages = hours_per_week * tx_hourly_minimum_wage
weekly_wages

In [ ]:
# @title
yearly_wages = hours_per_year * tx_hourly_minimum_wage
yearly_wages
# documenting and describe for your logic. You can understand your code after 10 years.

In [ ]:
# @title
yearly_wages
weekly_wages
# One cell only show you the last expression of the cell. You may want to split the code into multiple cells.

# Functions

Functions are usefull when you want to do some tasks over and over again. Anytime when you want to use that code, we say that you "call the function".

In the expression $f(7)$, $f$ represents the function being called, while $7$ is the specific input (or argument) being passed into it. The parentheses act as a container to show exactly what value is being fed into the function.

In [ ]:
# you can provide more than 1 number or things to a function. You just have to seperate them by commas.
# Python will evaluates the expression before calling the function.
# max is what we call a built-in
max(2, 2 + 3, 4)

In [ ]:
abs(-12) # absolute value function, provided by pyton default.

In [ ]:
# you can provide an expression to a function, Python will evaluate the expression before calling funtion
day_temp = 35
night_temp = 24
abs(night_temp - day_temp)

In [ ]:
# Python will evaluates the expression before calling the function.
round(5 - 1.3)

In [ ]:
round(12.492)

In [ ]:
round(12.515)

In [ ]:
# round function can take 2 arguments. The first argument is the number you want to round, the section argument indicates how many digits to keep after the decimal place.
# The default is 0 if you don't provide second argument.
round(12.51,1)

In [ ]:
round(12.515,2)

In [ ]:
# Python can provide names to its arguments. It is used to remind you that this number indicates the number of digits to keep after the decimal.
round(12.515,ndigits=1)

The list of [Python's built-in functions](https://docs.python.org/3/library/functions.html) is quite long and includes many functions that are never needed in data science applications. The list of [mathematical functions in the `math` module](https://docs.python.org/3/library/math.html) is similarly long.

# Practice

In [ ]:
# what is the round of 0.5

In [ ]:
# what is the round of -0.5

In [ ]:
# what is the  value of round -1.2, -1.9

In [ ]:
# what is the absolute value of round -1.246 with ndigits = 2

# Tables

Tables are the fundamental structures used to organize data, functioning much like a spreadsheet. In this format, each row (or record) represents a single, unique individual or entity. Each column (or field) defines a specific attribute or characteristic—such as a name or date of birth—that is collected for every individual in the table.

In [ ]:
# be sure to upload the cones dataset
from datascience import *

cones = Table.read_table('cones.csv')

We will study tables in great detail next week. For now, we will just introduce a few methods without going into technical details.

The table `cones` has been imported in the cell above; later we will see how, but here we will just work with it. First, let's take a look at it.

In [ ]:
cones

The table has six rows. Each row corresponds to one ice cream cone. The ice cream cones are the individuals.

Each cone has three attributes: flavor, color, and price. Each column contains the data on one of these attributes, and so all the entries of any single column are of the same kind. Each column has a label. We will refer to columns by their labels.

A table method is just like a function, but it must operate on a table. So the call looks like

```
Tname_of_table.method(arguments)
```

For example, if you want to see just the first two rows of a table, you can use the table method *show*.

In [ ]:
cones.show(2)

You can replace 2 by any number of rows. If you ask for more than six, you will only get six, because cones only has six rows.

In [ ]:
cones.show(8)

# Function vs Method in Python

| Aspect       | Function                                    | Method                                         |
|--------------|---------------------------------------------|------------------------------------------------|
| Definition   | Independent block of code that performs a task | A function that is tied to an object            |
| How to call  | `function_name(arguments)`                  | `object.method(arguments)`                     |
| Dependency   | Does **not** depend on an object            | Depends on the object it belongs to            |
| Scope        | Can exist on its own                        | Always associated with a specific object type  |
| Example      | `len([1, 2, 3])  # returns 3`               | `numbers.append(4)  # adds 4 to the list`      |

**Summary**:  
- A **function** is like a general tool you can use anywhere.  
- A **method** is a tool that comes built into an object and works with that object.

## Choosing Sets of Columns
The method `select` creates a new table consisting of only the specified columns.

In [ ]:
cones.select('Flavor')

In [ ]:
cones # see the original table

In [ ]:
# You can select more than one column, by separating the column labels by commas.
cones.select('Flavor', 'Price')

You can also *drop* columns you don't want. The table above can be created by dropping the `Color` column.

In [ ]:
cones.drop('Color')

You can name this new table and look at it again by just typing its name.

In [ ]:
no_color = cones.drop('Color')

no_color

Like `select`, the `drop` method creates a smaller table and leaves the original table unchanged. In order to explore your data, you can create any number of smaller tables by using choosing or dropping columns. It will do no harm to your original data table.

In [ ]:
# Where method takes 2 arguments, the first specifies a column, the second specifies a value.
cones.where('Flavor', 'chocolate')

In [ ]:
cones.where('Color', 'pink')

# Sorting Rows

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor')

In [ ]:
cones.sort('Flavor', descending=True)

# Practice

"The NBA is the highest paying professional sports league in the world," [reported CNN](http://edition.cnn.com/2015/12/04/sport/gallery/highest-paid-nba-players/) in March 2016. The table `nba` contains the [salaries of all National Basketball Association players](https://www.statcrunch.com/app/index.php?dataid=1843341) in 2015-2016.

Each row represents one player. The columns are:

| **Column Label**   | Description                                         |
|--------------------|-----------------------------------------------------|
| `PLAYER`           | Player's name                                       |
| `POSITION`         | Player's position on team                           |
| `TEAM`             | Team name                                           |
|`SALARY`    | Player's salary in 2015-2016, in millions of dollars|


The code for the positions is PG (Point Guard), SG (Shooting Guard), PF (Power Forward), SF (Small Forward), and C (Center). But what follows doesn't involve details about how basketball is played.

The first row shows that Paul Millsap, Power Forward for the Atlanta Hawks, had a salary of almost $\$18.7$ million in 2015-2016.

In [ ]:
# be sure to upload the csv file
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

In [ ]:
# show the row for Stephen Curry

In [ ]:
# show all the players for the Golden State Warriors

In [ ]:
# show the salary from highest to the lowest of all players

In [ ]:
# show salary for PG from the highest to the lowest

# Example -- Movies

In [ ]:
movies = Table.read_table('movies_by_year.csv')

In [ ]:
movies.show(5)

In [ ]:
movies.num_columns

In [ ]:
movies.num_rows

In [ ]:
movies.labels

In [ ]:
movies_relabled = movies.relabeled('#1 Movie', 'Movie Name')
# you can have sybols, space in the labels

In [ ]:
movies_relabled.select('Year', 'Movie Name').show(15)

In [ ]:
movies_relabled.sort('Total Gross', descending=True).where('Number of Movies',are.above(650) )
# are.above ()
# are.equal_to()
# are.between(650, 700)

In [ ]:
movies_relabled.sort('Total Gross', descending=True).where('Number of Movies',are.between(650, 700) )

In [ ]:
movies_relabled.where ('Movie Name', are.containing('Man'))

[More Conditions](https://inferentialthinking.com/chapters/06/2/Selecting_Rows.html)

# Practice

In [ ]:
# find years that have more than 700 movies

In [ ]:
# find the #1 movies of the year that have more than 10000 total gross

In [ ]:
# find the #1 movies of the year that have more than 11000 total gross and produced after year 2000

# Review

t.select (label) - constructs a new table with just the specified columns

t.drop (label) - constructs a new table in which the specified columns are omitted

t.sort (label) - constructs a new table with rows sorted by the specified column

t.where (label) - contructs a new table with just the rows that match the condition

# Data type - int & float

In [ ]:
82749 ** 329

In [ ]:
10/3

In [ ]:
import math

print(math.pi)

In [ ]:
32137129313.379846326532156321672651238975645

In [ ]:
32137129313.379846326532156321672651238975645 - 32137129313.37984632653215632167265123897

In [ ]:
# raise 13 to the power of 2, then find the square root
(13 ** 2) ** 0.5

In [ ]:
# take the square root of 13, and then square this number, can we get 13 back?
(13 ** 0.5) ** 2

In [ ]:
# a integer devided by integer, python will give you a float by defualt
10/ 5

In [ ]:
# use int function to convert it to integer (Type Casting / Type Conversion)
int(10/5)

In [ ]:
# you can use flaot function to covert int to float
float(2)

In [ ]:
9/6

In [ ]:
# you will lose information after the decimal
int(1.5)

In [ ]:
int(1.999)

In [ ]:
9/60000

In [ ]:
# python can represent really small numbers in scientific notation -- a way to express very large or very small numbers in a more compact form
9/6000000000000000000000000000000000000000000

In [ ]:
1.5 * (10 ** (-42))

In [ ]:
# you can work on scientific number directly
1.5e-42 + 5.5e-42

In [ ]:
x = 2

In [ ]:
2x

In [ ]:
2 * x

Python has two real number types

*   int: an integer of any size
*   float: a number with an optional fractional part

An int never has a decimal point, a float always does
A float might be printed using scientific notation
Three limitation of float values:


1.   They have limited size (but the limit is huge)
2.   They have limited precision of 15-16 deciaml places
3.   After arithmetic, the final few deciaml places can be wrong

# Data type - Strings

In [ ]:
'flavor'

In [ ]:
flavor

In [ ]:
flavor = 2
flavor

In [ ]:
# use back slash to tell python this is not the end of the double quote
"he says, \"don't always use the single quote\""

In [ ]:
# concatenation
'straw' + 'berry'

In [ ]:
# add space in the middle
'hello'+ ' '+ 'world!'

In [ ]:
"hello world!".upper()

In [ ]:
"HeLlO wOrLd!".lower()

In [ ]:
'ha' * 10

In [ ]:
'ha' * 10.5

In [ ]:
'ha' + 10

In [ ]:
'ha' + '10'

In [ ]:
'ha' + str(10)

In [ ]:
type('3')

In [ ]:
# convert to integer
int('3')

In [ ]:
# int can not recieve strings with decimal places
int('3.0')

In [ ]:
# you can do it in 2 steps, convert the string to the float first, and then convert float to the int
int(float('3.0'))

Strings and text
A string value is a snippet of text of any length


*   'a'
*   'word'
*   'it can be 2 sentences. Here is the second'

Strings consisting of numbers can be converted to numbers


*   int('12')
*   float('1.2')

Any value can be converted to a string


*   str(2)
*   str(1.2)

# Practice

In [ ]:
x = 3
y = '4'
z = '5.5'

Is there any error in the below examples? what's the souce of the error in below examples?

*   x + y
*   x + int (y + z)
*   str(x) + int(y)
*   y + float (z)

In [ ]:
# what's the result of "str('4') + str('4.5')"

In [ ]:
# what's the result of "int(str('4') + str('4.5'))"

In [ ]:
# what's the result of "int(float(str('4') + str('4.5')))""

In [ ]:
# what's the result of "int(float(str('4') + str('4.5'))) ** 4""

In Python, the + operator can only be used to concatenate strings with other strings. Attempting to use + to combine a string with a different data type, such as an integer or a list, will result in a TypeError.

# Types

In [ ]:
# the type function tells us the "category" or "class"
type(10)

In [ ]:
a = 10
type(a)

In [ ]:
type(5.5)

In [ ]:
type(movies)

In [ ]:
type(True)

In [ ]:
type(true)

In [ ]:
abs(-5)

In [ ]:
type(abs)

In [ ]:
type(sum)

In [ ]:
type(type)