<a href="https://colab.research.google.com/github/gitmystuff/DTSC3010/blob/main/Week_03/DTSC3010_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 3 - Introduction to Pandas

Name

## Getting Started

* Colab - get notebook from the class repository
* Save a Copy in Drive
* Remove Copy of
* Edit your name
* Clean up Colab Notebooks folder
* Submit shared link

## Introduction to Data Science Tutorial

**Learning Objectives:**
- Understand how to create and manipulate tables using Pandas
- Learn to filter, sort, and select data from DataFrames
- Analyze real-world datasets (NBA salaries, US Census data)
- Create visualizations to understand data trends

**Estimated Time:** 60 minutes

## What You'll Learn Today

In this tutorial, we'll work with **Pandas**, the most popular Python library for data analysis. While the textbook uses the Berkeley `datascience` module, we'll use Pandas because:
- It's the industry standard for data analysis
- It's more powerful and flexible
- It's what you'll use in real data science jobs

Don't worry - the concepts are exactly the same!

**Note:** There are 10 questions to answer, 6 questions and 4 practice exercises. Each worth 0.3 pts.

## Setup: Import Libraries

First, let's import the libraries we'll need:

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Make plots appear in the notebook
%matplotlib inline

# Set display options for better readability
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 50)

print("âœ“ Libraries imported successfully!")

## Part 1: Creating Tables (DataFrames)

### 1.1 Creating an Empty DataFrame

**Berkeley datascience way:**
```python
Table()
```

**Pandas way:**
```python
pd.DataFrame()
```

In [ ]:
# Create an empty DataFrame
empty_df = pd.DataFrame()
print("Empty DataFrame:")
empty_df

### 1.2 Creating a DataFrame with Data

Let's recreate the flower example from the textbook.

**Berkeley datascience way:**
```python
Table().with_columns(
    'Number of petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose')
)
```

**Pandas way:** Create a dictionary with column names as keys and data as values

In [ ]:
# Method 1: Create DataFrame from a dictionary
flowers = pd.DataFrame({
    'Number of petals': [8, 34, 5],
    'Name': ['lotus', 'sunflower', 'rose']
})

print("Flowers DataFrame:")
flowers

### 1.3 Adding Columns to an Existing DataFrame

**Berkeley datascience way:**
```python
flowers.with_columns('Color', make_array('pink', 'yellow', 'red'))
```

**Pandas way:** Multiple options!

In [ ]:
# Option 1: Direct assignment (modifies the original)
flowers['Color'] = ['pink', 'yellow', 'red']

print("Flowers with Color column:")
flowers

In [ ]:
# Option 2: Using assign() - creates a NEW DataFrame (doesn't modify original)
flowers_with_size = flowers.assign(Size=['small', 'large', 'medium'])

print("New DataFrame with Size column:")
flowers_with_size

**ðŸ” Key Concept:**
- `df['column'] = values` modifies the original DataFrame
- `df.assign(column=values)` creates a new DataFrame

### 1.4 Reading Data from a File

**Berkeley datascience way:**
```python
Table.read_table('minard.csv')
```

**Pandas way:**
```python
pd.read_csv('minard.csv')
```

In [ ]:
# Read Minard's data about Napoleon's Russian campaign
url = 'https://www.inferentialthinking.com/data/minard.csv'
minard = pd.read_csv(url)

print("Minard's data:")
minard

## Part 2: Exploring DataFrames

### 2.1 Basic Information

In [ ]:
# Number of rows and columns
print(f"Number of rows: {len(minard)}")
print(f"Number of columns: {len(minard.columns)}")
print(f"Shape (rows, columns): {minard.shape}")

# Column names
print(f"\nColumn names: {minard.columns.tolist()}")

### Question

**Answer This Here:** What does `minard.shape` tell you?

### 2.2 Renaming Columns

**Berkeley datascience way:**
```python
minard.relabeled('City', 'City Name')
```

**Pandas way:**

In [ ]:
# Rename a single column
minard = minard.rename(columns={'City': 'City Name'})
minard

In [ ]:
# Rename multiple columns at once
minard = minard.rename(columns={
    'Longitude': 'Long',
    'Latitude': 'Lat'
})
minard

### 2.3 Accessing Columns

**Berkeley datascience way:**
```python
minard.column('Survivors')
```

**Pandas way:** Two options

In [ ]:
# Method 1: Using bracket notation
survivors = minard['Survivors']
print("Survivors column:")
print(survivors)
print(f"\nType: {type(survivors)}")

In [ ]:
# Method 2: Using dot notation (only works if column name has no spaces)
survivors = minard.Survivors
print(survivors)

**Key Concept:** A single column is called a **Series** in Pandas

### 2.4 Accessing Individual Values

In [ ]:
# Get the first survivor count
first_survivor_count = minard['Survivors'].iloc[0]
print(f"First survivor count: {first_survivor_count:,}")

# Get the last survivor count
last_survivor_count = minard['Survivors'].iloc[-1]
print(f"Last survivor count: {last_survivor_count:,}")

### Question
**Answer This Here:** What does `iloc` mean?

### 2.5 Working with Column Data

In [ ]:
# Calculate percent surviving
initial_survivors = minard['Survivors'].iloc[0]
minard['Percent Surviving'] = minard['Survivors'] / initial_survivors

# Format as percentage
minard['Percent Surviving %'] = (minard['Percent Surviving'] * 100).round(2)

minard

### Question

**Answer This Here:** What percentage survived Moiodexno? Calculate it using the code above.

## Part 3: Selecting and Dropping Columns

### 3.1 Selecting Specific Columns

**Berkeley datascience way:**
```python
minard.select('Longitude', 'Latitude')
```

**Pandas way:**

In [ ]:
# Select one column (returns a Series)
survivors_only = minard['Survivors']
print("One column (Series):")
print(survivors_only)
print(f"Type: {type(survivors_only)}")

In [ ]:
# Select multiple columns (returns a DataFrame)
location_cols = minard[['Long', 'Lat']]
print("Multiple columns (DataFrame):")
print(location_cols)
print(f"Type: {type(location_cols)}")

**Key Concept:**
- Single brackets `df['col']` returns a Series
- Double brackets `df[['col1', 'col2']]` returns a DataFrame

### 3.2 Dropping Columns

**Berkeley datascience way:**
```python
minard.drop('Longitude', 'Latitude', 'Direction')
```

**Pandas way:**

In [ ]:
# Drop columns (creates a new DataFrame)
minard_simple = minard.drop(columns=['Long', 'Lat', 'Direction'])
minard_simple

In [ ]:
# Original DataFrame is unchanged
print(f"Original columns: {minard.columns.tolist()}")
print(f"New DataFrame columns: {minard_simple.columns.tolist()}")

## Part 4: Sorting Data

### 4.1 Working with Real Data: NBA Salaries

Let's load NBA salary data and explore it!

Notice we are loading the NBA data by the URL from `gitmystuff` where we are accessing the raw data. Check it out by copying and pasting the url in a new browser tab.

In [ ]:
# Load NBA salary data
nba_salaries = pd.read_csv('https://raw.githubusercontent.com/gitmystuff/Datasets/refs/heads/main/nba_salaries.csv')

# Display first few rows
print("First 5 rows:")
nba_salaries.head()

In [ ]:
# Get basic information
print(f"Number of players: {len(nba_salaries)}")
print(f"\nColumns: {nba_salaries.columns.tolist()}")
print(f"\nData types:\n{nba_salaries.dtypes}")

### 4.2 Sorting

**Berkeley datascience way:**
```python
nba.sort('SALARY')
```

**Pandas way:**

In [ ]:
# First, let's rename the salary column for easier typing
nba = nba_salaries.rename(columns={"'15-'16 SALARY": 'SALARY'})

# Sort by salary (ascending - lowest to highest)
nba_sorted_asc = nba.sort_values('SALARY')
print("Lowest paid players:")
nba_sorted_asc.head()

In [ ]:
# Sort by salary (descending - highest to lowest)
nba_sorted_desc = nba.sort_values('SALARY', ascending=False)
print("Highest paid players:")
nba_sorted_desc.head(10)

**Insight:** Kobe Bryant was the highest paid NBA player in 2015-16 at $25 million!

In [ ]:
# Sort by multiple columns
nba_multi_sort = nba.sort_values(['TEAM', 'SALARY'], ascending=[True, False])
print("Sorted by team (alphabetically), then salary (highest first):")
nba_multi_sort.head(10)

### Question

**Answer This in the Next Cell:** Sort the data by player position, then by salary in descending order.

In [ ]:
# Your code here:

## Part 5: Filtering Rows (Where)

### 5.1 Basic Filtering

**Berkeley datascience way:**
```python
nba.where('SALARY', are.above(10))
```

**Pandas way:** Use boolean indexing

In [ ]:
# Find players earning more than $10 million
high_earners = nba[nba['SALARY'] > 10]
print(f"Number of players earning > $10M: {len(high_earners)}")
high_earners.head(10)

In [ ]:
# How does boolean indexing work? Let's break it down:
condition = nba['SALARY'] > 10
print("The condition creates a Series of True/False:")
print(condition.head(10))
print(f"\nType: {type(condition)}")

**Key Concept:** Boolean indexing works in two steps:
1. Creates a condition that returns True/False for each row
2. Uses that to filter: `df[condition]`

### 5.2 Comparison Operators

| Operator | Meaning | Example |
|----------|---------|----------|
| `==` | Equal to | `df['col'] == 5` |
| `!=` | Not equal to | `df['col'] != 5` |
| `>` | Greater than | `df['col'] > 5` |
| `>=` | Greater than or equal | `df['col'] >= 5` |
| `<` | Less than | `df['col'] < 5` |
| `<=` | Less than or equal | `df['col'] <= 5` |

In [ ]:
# Find Stephen Curry
curry = nba[nba['PLAYER'] == 'Stephen Curry']
print("Stephen Curry's information:")
curry

In [ ]:
# Find all Golden State Warriors
warriors = nba[nba['TEAM'] == 'Golden State Warriors']
print(f"Number of Warriors players: {len(warriors)}")
warriors.sort_values('SALARY', ascending=False)

### 5.3 Multiple Conditions

Use `&` for AND, `|` for OR (must use parentheses!)

In [ ]:
# Point Guards earning more than $15 million
rich_point_guards = nba[(nba['POSITION'] == 'PG') & (nba['SALARY'] > 15)]
print("Point Guards earning > $15M:")
rich_point_guards.sort_values('SALARY', ascending=False)

In [ ]:
# Players earning between $10M and $10.3M
mid_salary = nba[(nba['SALARY'] >= 10) & (nba['SALARY'] < 10.3)]
mid_salary.sort_values('SALARY')

**Common Mistake:** Remember to use `&` (and) or `|` (or), NOT `and` or `or`!

### 5.4 String Methods

For text searching, use `.str` accessor:

In [ ]:
# Find all teams with "Warriors" in the name
warriors_teams = nba[nba['TEAM'].str.contains('Warriors')]
print(f"Teams containing 'Warriors': {warriors_teams['TEAM'].unique()}")
warriors_teams.head()

In [ ]:
# Find all guards (both PG and SG)
guards = nba[nba['POSITION'].str.contains('G')]
print(f"Number of guards: {len(guards)}")
print(f"Unique positions: {guards['POSITION'].unique()}")

### Question

**Answer This in the Next Cell:** Find all players on teams containing "Nets" OR "Knicks" in their name.

In [ ]:
# Your code here:

---

## Part 6: Selecting Rows by Position

### 6.1 Using iloc (integer location)

**Berkeley datascience way:**
```python
nba.take(0)
nba.take(np.arange(3, 6))
```

**Pandas way:**

In [ ]:
# Get the first row
first_row = nba.iloc[0]
print("First row:")
print(first_row)

In [ ]:
# Get first 5 rows
first_five = nba.iloc[0:5]
first_five

In [ ]:
# Get rows 3, 4, 5 (remember: Python counts from 0!)
middle_rows = nba.iloc[3:6]
middle_rows

In [ ]:
# Top 5 highest paid players
top_5_paid = nba.sort_values('SALARY', ascending=False).iloc[0:5]
top_5_paid

**Key Concept:**
- `iloc[n]` gets row n (single row, returns Series)
- `iloc[start:end]` gets rows from start to end-1 (returns DataFrame)
- Python indexing starts at 0!

## Part 7: Real Data Analysis - US Census

### 7.1 Loading Census Data

In [ ]:
# Load census data
census_url = 'http://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2019/nc-est2019-agesex-res.csv'
full_census = pd.read_csv(census_url)

print(f"Shape: {full_census.shape}")
print(f"\nColumns: {full_census.columns.tolist()}")
full_census.head()

### 7.2 Data Cleaning and Selection

In [ ]:
# Select only the columns we need
us_pop = full_census[['SEX', 'AGE', 'POPESTIMATE2014', 'POPESTIMATE2019']].copy()

# Rename for simplicity
us_pop = us_pop.rename(columns={
    'POPESTIMATE2014': '2014',
    'POPESTIMATE2019': '2019'
})

print("Cleaned census data:")
us_pop.head(10)

**Understanding the Data:**
- `SEX`: 0 = Total, 1 = Male, 2 = Female
- `AGE`: Age in years (999 = all ages, 100 = 100+)
- `2014`, `2019`: Population estimates

### 7.3 Filtering for Total Population by Age

In [ ]:
# Get total population (SEX = 0) and drop the SEX column
us_pop_by_age = us_pop[us_pop['SEX'] == 0].drop(columns=['SEX']).copy()

# Remove the summary row (AGE = 999)
us_pop_by_age = us_pop_by_age[us_pop_by_age['AGE'] != 999]

print("Population by age:")
us_pop_by_age.head(10)

### 7.4 Calculating Population Change

In [ ]:
# Calculate absolute and percent change
us_pop_by_age['Change'] = us_pop_by_age['2019'] - us_pop_by_age['2014']
us_pop_by_age['Percent Change'] = (us_pop_by_age['Change'] / us_pop_by_age['2014']) * 100

# Round for readability
us_pop_by_age['Percent Change'] = us_pop_by_age['Percent Change'].round(2)

print("Population changes:")
us_pop_by_age.head(10)

### 7.5 Finding the Biggest Changes

In [ ]:
# Sort by absolute change (descending)
biggest_changes = us_pop_by_age.sort_values('Change', ascending=False)

print("Top 10 ages with largest population increases:")
biggest_changes.head(10)

**Key Insight:** Ages 68-72 saw the largest increases! Why?

These people were born 1947-1951 - the **post-WWII baby boom**!

### 7.6 Visualization

In [ ]:
# Create a bar chart of the top 15 age groups by change
top_15 = biggest_changes.head(15)

plt.figure(figsize=(12, 6))
plt.bar(top_15['AGE'], top_15['Change'] / 1000000, color='steelblue')
plt.xlabel('Age', fontsize=12)
plt.ylabel('Population Change (millions)', fontsize=12)
plt.title('Top 15 Ages by Population Increase (2014-2019)', fontsize=14, fontweight='bold')
plt.grid(axis='y', alpha=0.3)
plt.tight_layout()
plt.show()

## Part 8: Sex Ratios Analysis

### 8.1 Separating Male and Female Data

In [ ]:
# Get 2019 data only
us_pop_2019 = us_pop[['SEX', 'AGE', '2019']].copy()

# Separate males and females (excluding age 999)
females = us_pop_2019[(us_pop_2019['SEX'] == 2) & (us_pop_2019['AGE'] != 999)].copy()
males = us_pop_2019[(us_pop_2019['SEX'] == 1) & (us_pop_2019['AGE'] != 999)].copy()

print(f"Females shape: {females.shape}")
print(f"Males shape: {males.shape}")

### 8.2 Calculating Sex Ratios

In [ ]:
# Create a new DataFrame with ratios
# We need to reset the index to make sure the division works correctly
females_reset = females.reset_index(drop=True)
males_reset = males.reset_index(drop=True)

ratios = pd.DataFrame({
    'AGE': females_reset['AGE'],
    'Female Population': females_reset['2019'],
    'Male Population': males_reset['2019'],
    'F:M Ratio': females_reset['2019'] / males_reset['2019']
})

ratios['F:M Ratio'] = ratios['F:M Ratio'].round(3)

print("Sex ratios by age:")
ratios.head(10)

**Understanding the Ratio:**
- Ratio < 1.0: More males than females
- Ratio = 1.0: Equal numbers
- Ratio > 1.0: More females than males

### 8.3 Analyzing Young Ages

In [ ]:
# Infants (age 0)
infant_ratio = ratios[ratios['AGE'] == 0]
print("Infant (age 0) sex ratio:")
print(infant_ratio)
print(f"\nThis means there are about {infant_ratio['F:M Ratio'].iloc[0]:.3f} female infants for every male infant")
print(f"In other words, about {(1 - infant_ratio['F:M Ratio'].iloc[0]) * 100:.1f}% more male infants than female")

### 8.4 Analyzing Older Ages

In [ ]:
# Senior citizens (75+)
seniors = ratios[ratios['AGE'] > 75]
print("Sex ratios for ages 75+:")
seniors

In [ ]:
# Age 90+
very_old = ratios[ratios['AGE'] >= 90]
print("Sex ratios for ages 90+:")
print(very_old)

**ðŸ’¡ Key Insight:** At age 99, there are about 2.9 females for every male!

### 8.5 Visualizing Sex Ratios

In [ ]:
# Create a line plot
plt.figure(figsize=(14, 6))
plt.plot(ratios['AGE'], ratios['F:M Ratio'], linewidth=2, color='steelblue')
plt.axhline(y=1.0, color='red', linestyle='--', linewidth=1, alpha=0.7, label='Equal ratio')

plt.xlabel('Age', fontsize=12)
plt.ylabel('Female to Male Ratio', fontsize=12)
plt.title('Female to Male Population Ratio by Age (2019)', fontsize=14, fontweight='bold')
plt.grid(True, alpha=0.3)
plt.legend()

# Add annotation
plt.annotate('Baby boom generation\n(ages 68-72)',
             xy=(70, ratios[ratios['AGE']==70]['F:M Ratio'].iloc[0]),
             xytext=(50, 1.5),
             arrowprops=dict(arrowstyle='->', color='black', alpha=0.7),
             fontsize=10)

plt.tight_layout()
plt.show()

### Question

**Answer This Here:** What patterns do you notice in this graph? At what age does the ratio cross 1.0?

In [ ]:
# Find the age where ratio first exceeds 1.0
crossover = ratios[ratios['F:M Ratio'] > 1.0].iloc[0]
print(f"The ratio first exceeds 1.0 at age {crossover['AGE']}")
print(f"At that age, the ratio is {crossover['F:M Ratio']:.3f}")

---

## Part 9: Summary and Practice

### Key Concepts Review

| Task | Berkeley datascience | Pandas |
|------|---------------------|--------|
| Create table | `Table()` | `pd.DataFrame()` |
| Add columns | `with_columns()` | `df['col'] = ...` or `assign()` |
| Read CSV | `Table.read_table()` | `pd.read_csv()` |
| Select columns | `select()` | `df[['col1', 'col2']]` |
| Drop columns | `drop()` | `df.drop(columns=[...])` |
| Sort | `sort()` | `df.sort_values()` |
| Filter rows | `where()` | `df[condition]` |
| Get column | `column()` | `df['col']` |
| Get row by position | `take()` | `df.iloc[]` |

### Questions - Exercises Practice

**Exercise 1:** Using the NBA dataset, find all Centers (position 'C') who earn more than $15 million, sorted by salary.

In [ ]:
# Your code here:

**Exercise 2:** Create a new column in the NBA dataset called `SALARY_MILLIONS` that shows salary in millions (rounded to 1 decimal place).

In [ ]:
# Your code here:

**Exercise 3:** Using the census data, find the age group that had the largest percentage decline between 2014 and 2019.

In [ ]:
# Your code here:

**Exercise 4:** Create a bar chart showing the average NBA salary by position.

In [ ]:
# Hint: Use groupby()
# Your code here:

## Congratulations!

You've completed the Chapter 6 tutorial on working with tables using Pandas!

### What You Learned:
1. âœ… Creating and manipulating DataFrames
2. âœ… Selecting and filtering data
3. âœ… Sorting data
4. âœ… Performing calculations on columns
5. âœ… Analyzing real-world datasets
6. âœ… Creating visualizations

### Next Steps:
- Practice with your own datasets
- Explore more Pandas functions in the [official documentation](https://pandas.pydata.org/docs/)
- Try the exercises above
- Move on to the next chapter!

### Quick Reference Card

In [ ]:
# PANDAS QUICK REFERENCE

# Creating DataFrames
df = pd.DataFrame({'col1': [1, 2, 3], 'col2': ['a', 'b', 'c']})
df = pd.read_csv('file.csv')

# Viewing data
df.head()        # First 5 rows
df.tail()        # Last 5 rows
df.shape         # (rows, columns)
df.columns       # Column names
df.info()        # Overview

# Selecting
df['col']               # One column (Series)
df[['col1', 'col2']]    # Multiple columns (DataFrame)
df.iloc[0]              # First row
df.iloc[0:5]            # First 5 rows

# Filtering
df[df['col'] > 5]                           # Simple condition
df[(df['col1'] > 5) & (df['col2'] == 'A')]  # Multiple conditions (AND)
df[(df['col1'] > 5) | (df['col2'] == 'A')]  # Multiple conditions (OR)
df[df['col'].str.contains('text')]          # String matching

# Sorting
df.sort_values('col')                        # Ascending
df.sort_values('col', ascending=False)       # Descending
df.sort_values(['col1', 'col2'])             # Multiple columns

# Adding/modifying columns
df['new_col'] = values
df['new_col'] = df['col1'] + df['col2']

# Removing columns
df.drop(columns=['col1', 'col2'])

# Renaming
df.rename(columns={'old': 'new'})

# Aggregation
df['col'].mean()
df['col'].sum()
df.groupby('col1')['col2'].mean()

## Keep Learning!

Remember: Data science is about practice and curiosity. Keep exploring, asking questions, and analyzing data!

**Happy coding!**